.btn-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.button {
 
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  height: 50px;
  border-radius: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  border-style: none;
  cursor: pointer;
  
}
button {
  outline: none !important;
  border: none;
  background: transparent;
}
.btn-login {
  background: #9053c7;
}

button:hover {
  background: rgba(28, 62, 117, 0.623);
}
.btn-signup {
  background: #2a7958;
}
